// HERO //
.hero
  height: 40.5rem

  &__heading
    padding-bottom: 3.5rem

  &__title
    font-size: 3.25rem
    max-width: 8ch

// PRÓXIMO EVENTO //
.event
  margin-top: 3.5rem

  &__info
    padding: $gap--m $gap--s

  &__photo
    height: 15rem

// QUIÉNES SOMOS //
.community
  margin-top: 4rem

  &__photo
    margin-bottom: $gap--m

  &__info p
    margin-top: $gap--s

// SOCIOS //
.members
  margin-top: 4rem

  &__list
    display: grid
    gap: $gap--s
    margin-top: $gap--m

  &__card
    min-height: 4.5rem
    padding: $gap--xs $gap--s

  &__join
    margin-top: $gap--xs

// VENTAJAS //
.pros
  margin-top: 4rem
  padding: 3.5rem 0

  &__photo
    display: none

  &__list
    gap: $gap--m

    &--number
      font-size: 3.25rem

// COLABORA //
.collaborate
  padding: 4rem 0 4.5rem

  &__list
    gap: 2.5rem

  &__item--icon
    width: 2.25rem
    height: 2.25rem

// PREGUNTAS FRECUENTES //
.faqs
  margin-top: 4rem

  & > h2
    margin-bottom: $gap--m

  &__item

    summary
      font-size: 1.125rem
      padding: 1.25rem $gap--s

    p
      padding: 0 $gap--s 1.25rem

// FOTOS DE LA COMUNIDAD //
.photo-band
  height: 13rem
  margin-top: 4rem

// CÓDIGO DE CONDUCTA //
.code-of-conduct
  margin:
    top: 3.5rem
    bottom: 3.5rem

  &__card
    padding: $gap--m $gap--s

// CONTACTA //
.contact
  padding-top: $gap--m

  &__marquee
    margin-bottom: $gap--m

    &--text
      font-size: 3.25rem

  &__social--list
    flex-direction: column
    padding: 0

    li + li
      border-top: $border--main $color--black

  &__social--link
    padding: 1.25rem $gap--s

  &__email
    padding: $gap--m 0
    font-size: 1.125rem

// FOOTER //
.footer
  padding: $gap--m 0 $gap--s

  &__bottom
    flex-direction: column
    gap: $gap--xxxs
