.footer
    background-color: $color--black-footer
    color: $color--blue
    padding-top: 1.6rem
    &__title
        padding-top: 1.1rem
        padding-bottom: 1.75rem
    &__line
        border: .5px solid $color--blue
    &__logo
        width: 2.6rem 
    &__link
        color: $color--blue
        font-size: .8rem
    &__pages
        display: flex
        flex-direction: column
        gap: .5rem
    &__copyright
        display: flex
        flex-direction: column
        gap: .5rem
        font-size: .6rem
        padding-bottom: 1.5rem
        