.header
  position: fixed
  top: 0
  right: 0
  left: 0
  z-index: 90
  background-color: rgba(0, 0, 0, .25)
  backdrop-filter: blur(12px)
  transition: $transition--main

  &__bar
    display: flex
    align-items: center
    justify-content: space-between

  &__contact
    display: inline-flex
    width: max-content
    padding: $gap--xxxs $gap--s
    color: $color--orange
    border: $border--main $color--orange
    background-color: rgba($color--orange, .15)
    text-decoration: none
    font-size: .875rem
    font-weight: 500
    transition: $transition--main

    &:hover
      color: $color--white
      background-color: rgba($color--orange, .5)

  &.main
    background-color: rgba($color--white, .92)

  &.hidden
    transform: translateY(-101%)
