// COLORS //

$color--black: #252525
$color--black-footer: #212121
$color--white: #fff
$color--background-menu: #f6f4f1
$color--grey: #f6f4f1
$color--grey-text: #575757
$color--orange: #fd7400
$color--blue: #67a7e0

// SIZES //

/* Breakpoints */
$breakpoint--m: 1280px

/* Gaps */
$gap--m: 1.5rem