// Colores //

$color--orange: #fd7400
$color--blue: #67a7e0
$color--grey: #f6f4f1
$color--grey-text: #575757
$color--black: #252525
$color--black-footer: #212121
$color--white: #fff
$color--background-menu: #f6f4f1

// Tamaños //

$iconos--redes: 2.25rem
$label: 2.25rem
$numbers: 3.5rem