body
    color: $color--black
    font-family: "text", sans-serif
    font-weight: 400

.container
    max-width: $breakpoint--m
    margin:
        left: auto
        right: auto
    padding:
        left: $gap--m
        right: $gap--m

