.footer
    background-color: $color--black-footer
    color: $color--blue
    padding-top: 6.2rem
    &__title
        margin-left: 4rem
    &__line
        border: .5px solid $color--blue
    &__logo
        width: 2.6rem
        margin-left: 4rem
    &__links
        display: flex
        justify-content: space-between
        margin-right: 4rem
    &__link
        color: $color--blue
        font-size: .8rem
    &__pages
        display: flex
        gap: 1.25rem
    &__copyright
        display: flex
        justify-content: space-between
        padding-bottom: 2.5rem
        margin-left: 4rem
        margin-right: 4rem
        &-text
            font-size: .6rem
