.header
  width: 100%
  display: flex
  justify-content: right
  align-items: center
  position: fixed
  backdrop-filter: blur(10px)
  top: 0
  right: 0
  left: 0
  z-index: 99999

// Nav

.nav__container
  margin: 0auto
  padding: 1rem 0
  scroll-behavior: smooth

.header__logo
  width: 2rem

.nav__ul
  display: flex
  flex-direction: row-reverse
  gap: 2rem
  align-items: center
  //padding: 0

.nav__link
  display: block
  //padding: 0.5rem 1rem
  transition: 0.5s
  color: $color--white
  &-contact
    display: block
      //padding: 0.5rem 1rem
    transition: 0.5s
    color: $color--orange

.nav__item
  &:hover
    text-decoration: underline
    text-decoration-color: $color--white
    &-contact
      background-color: #fd760047
      border: 1px solid $color--orange
      padding: .5rem 1rem
      &:hover
        background-color: #fd760067
        border: 1px solid $color--orange
        padding: .5rem 1rem

// Oculta botón de abrir o cerrar

.nav__button
  display: none
  &-left
    display: none

.header__button-nav--open
  display: none
  background-color: #fff0
  border: none

//buttons

.contact__button
  display: none

.logo__home
  display: none

// Hero

.hero
  box-sizing: border-box
  height: 100vh
  max-height: 70rem
  min-height: fit-content
  color: $color--white
  padding:
    top: $gap--xxl
    bottom: $gap--xxl
